h1 {
    text-align: center;
    color: rgb(233, 24, 77);
    font-weight: bold;
}
h2 {
    text-align: center;
    color: rgb(255, 125, 4);
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.fon{
    background-color: rgb(129, 212, 204);
}
img {
    height: 400px;
}
.one {
    color: rgb(253, 88, 11);
}
.two {
    color: rgb(235, 17, 188); 
    font-size: 20px;
}
.three {
    font-style: italic;
   font-family: cursive;
}
img[title="quartet"]{
     padding: 10px;
     background: rgb(255, 255, 255);
     border-radius: 10px;
}
a[href="../Darling/Hello.html"]{
    color: cadetblue;
}
.c11{
    padding: 10px;
    background: aliceblue;
    border-radius: 5px;
}
img[title="dog"]{
    padding: 10px;
    background: aliceblue;
    border-radius: 10px;
}